@font-face {
    font-family: "kelvin-portfolio-2025";
    src: url("../fonts/kelvin-portfolio-2025.ttf?4ee9m3") format("truetype"),
        url("../fonts/kelvin-portfolio-2025.woff?4ee9m3") format("woff"),
        url("../fonts/kelvin-portfolio-2025.svg?4ee9m3#kelvin-portfolio-2025")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "kelvin-portfolio-2025" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon="linkedin"]:before {
    content: "\e900";
}
[data-icon="email"]:before {
    content: "\e901";
}
[data-icon="codepen"]:before {
    content: "\e902";
}
[data-icon="history"]:before {
    content: "\e903";
}

html,
body {
    overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
}

canvas {
    touch-action: none;
}

body {
    background: repeating-linear-gradient(
        180deg,
        #ff5579 0%,
        #ff61b0 33.333%,
        #6f57ff 66.666%,
        #ff5579 100%
    );
    background-size: 100% 300%;
    animation: gradient 10s linear infinite;
    height: 100vh;
    color: #00073c;
    font: 400 italic 53px/57.5px "DM Serif Display", sans-serif;
}

#bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: url("./static_bg.svg") center center no-repeat;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    33.333% {
        background-position: 0% 33%;
    }
    66.666% {
        background-position: 0% 66%;
    }
    100% {
        background-position: 0% 0%;
    }
}

#content {
    width: 1000px;
    padding: 30px;
}

a {
    color: #00073c;
    text-decoration: none;
}

p {
    margin: 8px 0;
    cursor: default;
    &.space {
        margin-bottom: 40px;
    }
}

.word,
.char {
    display: inline-block;
}

.char {
    position: relative;
}

.line {
    letter-spacing: -5px;
    opacity: 0.5;
    margin-top: -10px;
}

.icon {
    font-size: 40px;
}

.mf-cursor {
    &:before {
        color: #2d5da9;
    }
    &.-text:not(.-active):before {
        width: 10px;
        height: 10px;
        top: -5px;
        left: -5px;
        transform: scale(1);
    }
    &.-text:not(.-active) {
        .mf-cursor-text {
            color: #2d5da9;
            font-family: "Edu AU VIC WA NT Hand", cursive;
            font-size: 20px;
            line-height: 20px;
            white-space: nowrap;
            transform: translateY(30px);
        }
    }

    &.-active {
        &:before {
            transform: scale(3.8) !important;
            background-color: rgba(white, 0);
            border: 1px solid #2d5da9;
        }
    }

    .mf-cursor-text {
        font-size: 28px;
        line-height: 42px;
        font-weight: bold;
        font-family: "Edu AU VIC WA NT Hand", cursive;
        color: #2d5da9;
    }
}
