@font-face {
    font-family: "kelvin-pofo-2025";
    src: url("../fonts/kelvin-pofo-2025.ttf?4ee9m3") format("truetype"),
        url("../fonts/kelvin-pofo-2025.woff?4ee9m3") format("woff"),
        url("../fonts/kelvin-pofo-2025.svg?4ee9m3#kelvin-pofo-2025")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "kelvin-pofo-2025" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[data-icon="linkedin"]:before {
    content: "\e900";
}
[data-icon="email"]:before {
    content: "\e901";
}
[data-icon="codepen"]:before {
    content: "\e902";
}
[data-icon="history"]:before {
    content: "\e903";
}

html,
body {
    overflow: hidden;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(-45deg, #4715c4, #af5ff5, #1e0763, #e67ef7);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    color: #fff;
    font: normal 30px/45px "Playfair Display", serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#content {
    width: 650px;
    margin: 0 auto;
    padding: 40px 0;
}

a {
    color: white;
    text-decoration: none;
}

p {
    margin: 8px 0;
    cursor: default;
    &.space {
        margin-bottom: 60px;
    }
}

.word,
.char {
    display: inline-block;
}

.char {
    position: relative;
}

.line {
    letter-spacing: -4px;
    opacity: 0.5;
    margin-bottom: -20px;
}

.mf-cursor {
    &:before {
        color: yellow;
    }
    &.-text:not(.active):before {
        width: 10px;
        height: 10px;
        top: -5px;
        left: -5px;
        transform: scale(1);
    }
    &.-text:not(.active) {
        .mf-cursor-text {
            color: yellow;
            font-family: "Lacquer", system-ui;
            font-size: 20px;
            line-height: 20px;
            white-space: nowrap;
            transform: translateY(30px);
        }
    }

    &.active {
        &:before {
            transform: scale(3.8);
            background-color: rgba(white, 0);
            border: 1px solid yellow;
        }
    }

    .mf-cursor-text {
        font-size: 30px;
        line-height: 40px;
        font-weight: bold;
        font-family: "Lacquer", system-ui;
        color: yellow;
    }
}
